/* Shop styles */

.module_shop_wrapper {margin-right:-30px;
}
.module_shop_wrapper .shop_list_item {
	margin:0 27px 30px 0;
	width:270px;
	display:inline-block;
	overflow:hidden;
	vertical-align:top;
}
.shop_list_image {display:block;
}
.shop_list_title {
	padding:12px 0;
	line-height:26px;
	margin:0 !important;
	text-align:center;
	font-size:22px;
}
.shop_list_title a {
	font-size:22px;
	font-weight:400;
	color:#3a3a3a;
}
.shop_list_title a:hover {color:#707070;
}
.shop_list_descr {
	position:relative;
	padding:14px 20px 14px 68px;
	background:#dadada;
	min-height:40px;
}
.shop_list_descr .add2cart {
	position:absolute;
	width:40px;
	height:40px;
	display:block;
	overflow:hidden;
	top:14px;
	left:14px;
	background:url(../img/shop/add2cart.png) no-repeat left top #fff;
}
.shop_list_price {color:#3a3a3a;
}
.shop_list_sku {color:#9c9c9c;
}
.product_img img {width:100%;
}

.module_shop_wrapper.list_grid {margin-right:0 !important;
}
.module_shop_wrapper.list_grid .shop_list_item {
	margin:0 0 30px 0;
	width:100% !important;
	display:block;
	padding:7px 0 7px 0;
	position:relative;
	background:#dadada;
	min-height:94px;
}
.module_shop_wrapper.list_grid .shop_list_item .product_img {
	height:94px;
	width:94px;
	overflow:hidden;
	position:absolute;
	left:7px;
	top:7px;
}
.module_shop_wrapper.list_grid .shop_list_item .product_img img {height:94px;
}
.module_shop_wrapper.list_grid .shop_list_title {
	padding:7px 7px 13px 120px;
	text-align:left;
}
.module_shop_wrapper.list_grid .shop_list_descr {
	position:relative;
	padding:0 0 0 174px;
	background:none;
}
.module_shop_wrapper.list_grid .shop_list_descr .add2cart {
	top:0;
	left:120px;
}
div.selectBox {
	position:relative;
	display:inline-block;
	cursor:default;
	text-align:left;
	line-height:20px;
	min-height:20px;
	clear:both;
	color:#888;
	vertical-align:top;
	margin:0 6px 10px 0;
	padding:10px 17px 10px 43px;
	background:#dadada;
}
span.selected {
	border:0;
	border-radius:0;
}
span.selectArrow {
	width:26px;
	height:26px;
	left:7px;
	top:7px;
	border:0;
	text-align:center;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	background: url(../img/shop/sort_arrow.png) no-repeat left top #fff;
	position:absolute;
	display:block;
}
span.selected {
	position:relative;
	height:20px;
	z-index:1;
}
div.selectOptions {
	position:absolute;
	top:40px;
	left:0;
	width:198px;
	border:0;
	overflow:hidden;
	display:none;
	background:#dadada;
	z-index:200;
}	
span.selectOption {
	display:block;
	width:80%;
	line-height:20px;
	padding:10px 10%;
	border-top:2px #ececec solid;
}
span.selectOption:hover {background:#e2e2e2;	
}	

.module_cont.module_shop_order {margin-bottom:20px !important; 
}
.shop_order_grid {
	display:inline-block;
	margin:0 10px 10px 0;
}
.shop_order_grid ul {
	padding:0;
	margin:0;
	list-style:none;
}
.shop_order_grid ul li {
	padding:0;
	margin:0;
	display:inline-block;
	margin:0 -1px 2px 0;
	vertical-align:top;
}
.shop_order_grid a {
	width:40px;
	height:40px;
	background:#dadada;
	display:block;
	text-indent:-9999px;
	position:relative;
}
.shop_order_grid a:hover {background:#e2e2e2;
}
.shop_order_grid li.current a {background:none;
}
.shop_order_grid a:after {
	width:40px;
	height:40px;
	content:'';
	position:absolute;
	left:0;
	top:0;
	z-index:20;
	background-position:0 0;
	background-repeat: no-repeat;	
}
a.grid_btn:after {background-image:url(../img/shop/grid.png);
}
a.list_btn:after {background-image:url(../img/shop/list.png);
}

div.images {
	width:570px;
	float:left;
	margin:0 30px 26px 0;
	padding-top:6px;
}
.summary {
	width:270px;
	float:left;
	margin:0 0 26px 0;
	padding-top:6px;
}
.product-description {
	padding-bottom:6px;
	border-bottom:2px #dadada solid;
	margin-bottom:45px;
}
.stock {
	font-size:18px;
	line-height:15px;
	padding-bottom:8px;
}
/*Product Info*/
.product_title_price {
	font-weight:700;
	font-size:30px;
	line-height:29px;
	margin:0 0 16px 0 !important;
	padding:0 !important;
}

.product_info_block {padding-bottom:22px;
}
.product_info_block:last-child {padding-bottom:0;
}
.product_info_block h4 {
	padding:0 0 3px 0 !important;
	margin:0 !important;
	line-height:24px;
	font-size:14px;
	font-weight:400;
	text-transform:none;
}
.colors_block ul {
	padding:0 !important;
	margin:0 !important;
	list-style: none;
}
.colors_block li {
	padding:0 !important;
	margin:0 0 2px 0 !important;	
}
.colors_block a {
	display:block;
	position:relative;
	background:#dadada;
	padding:10px 10px 10px 44px;
	font-style:normal;
	color:#3a3a3a;
}
.colors_block a:before {
	width:26px;
	height:26px;
	background-color:#fff;
	background-position:0 0;
	background-repeat:no-repeat;
	background-image:url(../img/shop/list_check.png);
	position:absolute;
	left:7px;
	top:7px;
	content:'';
}
.colors_block a:hover {	background:#e2e2e2;
}
.colors_block li.current a:before {background-image:url(../img/shop/list_check_act.png);
}

.quantity .minus,
.quantity .plus {
	border:0;
	width:40px;
	height:40px;
	display:inline-block;
	float:left;
	position:relative;
	overflow:hidden;
	margin:0 2px 2px 0;
	background:#dadada;	
}
.quantity .minus:hover,
.quantity .plus:hover {	background:#e2e2e2;		
}
.quantity .minus:before,
.quantity .plus:before {
	content:'';
	display:block;
	position:absolute;
	left:7px;
	top:7px;
	width:26px;
	height:26px;
	background-color:#fff;
	background-position:0 0;
	background-repeat:no-repeat;
}
.quantity .minus:before { background-image:url(../img/shop/qty_minus.png);
}
.quantity .plus:before { background-image:url(../img/shop/qty_plus.png);
}
input.input-text {
	border:0 !important;
	display:inline-block;
	float:left;
	padding:10px;
	height:20px;
	line-height:20px;
	text-align:center;
	width:20px;
	background:#dadada;
	border-radius:0px!important;
	box-shadow:none!important;
	margin:0 2px 2px 0;
	font-size:16px;
	color:#3a3a3a;
}
input.input-text:focus {background:#e2e2e2;
}
.summary .blog_info_socials {display: block;
}
.product_thumbs {margin-right:-10px;
}
.product_thumbs ul {
	padding:0 !important;
	margin:0 !important;
	list-style: none;
}
.product_thumbs li {
	padding:0 !important;
	margin:0 3px 0 0 !important;	
	display:inline-block;
}
.product_thumbs a img {
	opacity: 0.3; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	transition: opacity 400ms; 
	-webkit-transition: opacity 400ms; 
}
.product_thumbs a.current img,
.product_thumbs a:hover img {
	opacity: 1; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.woo_shop_table {
	padding:0;
	margin:0;
	width:100%;
	background:#dadada;
	border-collapse:collapse;
}
.woo_shop_table tr td {
	border:2px #ececec solid;
	padding:7px;
	text-align:center;
	font-size:18px;
}
.woo_shop_table tr td:first-child {border-left:0;
}
.woo_shop_table tr td:last-child {border-right:0;
}
.woo_shop_table tr.t_head td {
	padding:10px 15px;
	width:100px;
	text-align:left;
	font-size:14px;
}
.woo_shop_table tr.t_head td.info {width:444px;
}
.item_info {text-align:left;
}
.woo_shop_table .quantity .minus,
.woo_shop_table .quantity .plus {
	width:26px;
	height:26px;
}
.woo_shop_table .quantity .minus:before,
.woo_shop_table .quantity .plus:before {
	left:0;
	top:0;
}
.woo_shop_table input.input-text {padding:3px 7px;
}
.woo_shop_table .quantity {
	display:inline-block;
	margin: 0 auto;
}
.cart_thumb {
	display:inline-block;
	vertical-align:top;
	margin:0 7px 0 0;
}
.cart_prod_title {padding:0 0 4px 0;
}
.cart_info {
	padding:6px 0 6px 13px;
	display:inline-block;
	vertical-align:top;
}
.cart_meta_info ul {
	padding:0 !important;
	margin:0 !important;
	list-style:none;
}
.cart_meta_info li {
	padding:0 !important;
	margin:0 !important;
	display:block;
	font-style:normal !important;
	color:#9f9f9f;
}
.cart_meta_info li a {
	font-style:italic;
	color:#9f9f9f;
}
.cart_meta_info li a:hover {color:#3a3a3a;
}
.separate {
	width:11px;
	height:11px;
	background-image:url(../img/shop/separetor.png);
	background-position:0 0;
	background-repeat:no-repeat;
	margin:4px 13px 5px 13px;
	display:inline-block;
	vertical-align:top;
}
.shop_table_desc {padding:14px 0 34px 0;
}

/*WidGets*/
.login_form {
}
.btn_login {
	display:block;
	padding-left:0;
	padding-right:0;
	width:100% !important;
	margin:0;
	float:none;
}
.widget_total_checkout {	
} 
.total_count td {
	font-size:22px;
	text-transform:uppercase;
	padding:12px 0;
}
.widget_total_checkout label {
	padding:0;
	margin:0;
	line-height:20px;
}
.widget_total_checkout label input {
	padding:0 !important;
	margin:-1px 6px 0 0 !important;
}
.checkout_btn {padding:14px 0 16px 0;
}
.checkout_btn .btn_login {
	background:#88c800;	
	color:#669503;
}
.checkout_btn .btn_login:hover {
	color:#71a20a;
	background:#97d710;
}
.widget_total_checkout table a {
	font-style:italic;
	color:#b0b0b0;
}
.widget_total_checkout table a:hover {color:#3a3a3a;
}
.widget_total_checkout input[type="radio"] {-webkit-appearance: radio!important;
}
.widget_total_checkout input[type="checkbox"] {-webkit-appearance: checkbox!important;
}


/*responsive shop*/
@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.module_shop_wrapper {
		margin-right:-20px!important;
	}
	.module_shop_wrapper .shop_list_item {
		width:220px!important;
		margin-right:17px!important;
		margin-bottom:20px!important;
	}
	div.images {width:400px;
	}

}

@media only screen and (min-width: 766px) and (max-width: 959px) {
	.module_shop_wrapper {
		margin-right:-20px!important;
	}
	.module_shop_wrapper .shop_list_item {
		width:166px!important;
		margin-right:17px!important;
		margin-bottom:20px!important;		
	}
	div.images {width:238px;
	}

}

@media only screen and (max-width: 760px) {
	.module_shop_wrapper {
		margin-right:0px!important;
	}
	.shop_list_item {
		width:100%!important;
		margin-right:0!important;
		margin-bottom:20px!important;		
	}
	div.images, .summary {
		width:auto;
		margin-right:0;
		float:none;
	}
}

@media only screen and (min-width: 459px) and (max-width: 766px) {

}

@media only screen and (max-width: 459px) {
		
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.shop_list_descr .add2cart {
		background-image:url(../img/retina/shop/add2cart.png);
		background-size:40px 40px;
	}
	a.grid_btn:after {
		background-image:url(../img/retina/shop/grid.png);
		background-size:40px 40px;
	}
	a.list_btn:after {
		background-image:url(../img/retina/shop/list.png);
		background-size:40px 40px;
	}
	.colors_block a:before {
		background-image:url(../img/retina/shop/list_check.png);
		background-size:26px 26px;
	}
	.colors_block li.current a:before {
		background-image:url(../img/retina/shop/list_check_act.png);
		background-size:26px 26px;
	}
	.quantity .minus:before {
		background-image:url(../img/retina/shop/qty_minus.png);
		background-size:26px 26px;
	}
	.quantity .plus:before {
		background-image:url(../img/retina/shop/qty_plus.png);
		background-size:26px 26px;
	}
	.separate {
		background-image:url(../img/retina/shop/separetor.png);
		background-size:11px 11px;
	}
	span.selectArrow {
		background-image: url(../img/retina/shop/sort_arrow.png);
		background-size:26px 26px;
	}
		
	
}